:host {
  width: 100%;
  display: block;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .item {
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 2em;
    padding: 1em 2em;
    border-radius: 5px;
    box-shadow: 3px 1px 5px 1px #dbdbdb;

    .delete-btn {
      background: #fff;
      outline: none;
      color: var(--danger);
      border-radius: 3px;
      border: 2px solid var(--danger);
      cursor: pointer;

      &:hover {
        background: var(--danger);
        color: #fff;
      }
    }
  }
}
