<div>
  <input (input)="search()" placeholder="search" [(ngModel)]="searchValue">
</div>

<h2>Tische</h2>

<div class="content-wrapper">
  <button (click)="updateTables()">Tische Speichern</button>

  <div class="item" *ngFor="let t of displayTables">
    <input type="text" placeholder="Tisch Nr." [(ngModel)]="t.nr">
    <button (click)="deleteTable(t)" class="delete-btn">- Löschen</button>
  </div>

  <button (click)="addTable()">+ Hinzufügen</button>
</div>


<h2>Getränke</h2>

<div class="content-wrapper">
  <button (click)="updateDrinks()">Getränke Speichern</button>

  <div class="item" *ngFor="let d of displayDrinks">
    <input type="text" placeholder="Name" [(ngModel)]="d.name">
    <div>
      <input type="text" placeholder="Kategorie" [(ngModel)]="d.category" readonly>
      <button (click)="changeCategory(d, 'alcohol')">alcohol</button> <button (click)="changeCategory(d, 'anti')">anti</button>
    </div>
    <input type="number" placeholder="Preis" [(ngModel)]="d.price">
    <button (click)="deleteDrink(d)" class="delete-btn">- Löschen</button>
  </div>

  <button (click)="addDrink()">+ Hinzufügen</button>
</div>


<h2>Speisen</h2>

<div class="content-wrapper">
  <button (click)="updateFood()">Speisen Speichern</button>

  <div class="item" *ngFor="let f of displayFood">
    <input type="text" placeholder="Name" [(ngModel)]="f.name">
    <input type="text" placeholder="Preis" [(ngModel)]="f.price">
    <button (click)="deleteFood(f)" class="delete-btn">- Löschen</button>
  </div>

  <button (click)="addFood()">+ Hinzufügen</button>
</div>
