<h1>Getränk {{ isEdit ? 'bearbeiten' : 'hinzufügen' }}</h1>

<mat-form-field appearance="outline">
  <mat-label>Bezeichnung</mat-label>
  <input [formControl]="formControl" matInput>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Kategorie</mat-label>
  <mat-select [(ngModel)]="drink.category">
    <mat-option value="alcohol">alkoholisch</mat-option>
    <mat-option value="anti">anti-alkoholisch</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Preis</mat-label>
  <input [(ngModel)]="drink.price" matInput type="number">
</mat-form-field>

<div id="button-wrapper">
  <div [mat-dialog-close]="null" class="button btn-danger" matRipple>
    Abbrechen
  </div>

  <div (click)="save()" class="button btn-ok" matRipple>
    Bestätigen
  </div>
</div>
