:host {
  width: 70vw;
  padding: 1em;
  display: block;
}

h1 {
  margin: 0 0 1em 0;
  text-align: center;
}

mat-form-field {
  width: 100%;
  margin: .5em 0;
}

#button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
