#tableWrapper {
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#uncompletedWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 8vmin;
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.row {
    width: 86vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2vh 7vw;
}

.infoWrapper {
    margin: 0 auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 5vmin;
}

.row .drinkWrapper .infoWrapper p {
    margin: .5vmin 7vmin .5vmin .5vmin;
}

.numberWrapper p {
    margin: .5vmin;
}

.otherBackground {
    background: #e7ecf3;
}

#errorUnCompleted {
    color: red;
    font-size: 4vmin;
    text-align: center;
    width: 100%;
}