#headline {
    font-family: 'Kalam', cursive;
    width: 100vw;
    height: 8vh;
    position: absolute;
    top: 5vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headlinePart1, #headlinePart2 {
    margin: 0 auto;
    font-size: 250%;
}

#headlinePart1 {
    animation: orderAnimation 8s ease-in-out infinite;
    animation-delay: 2s;
    position: fixed;
    right: -40vw;
}

#headlinePart2 {
    animation: sprinterAnimation 8s ease-in-out infinite;
    animation-delay: 2s;
    position: fixed;
    left: -40vw;
    top: 3vh;
}

@keyframes orderAnimation {
    0%   {right: -40vw}
    20%  {right: 35vw}
    27.5%  {right: 35vw}
    50% {right: 110vw}
    50% {right: 110vw}
    72.5%  {right: 35vw}
    80%  {right: 35vw}
    100%   {right: -40vw}
}

@keyframes sprinterAnimation {
    0%   {left: -40vw}
    20%  {left: 50vw}
    27.5%  {left: 50vw}
    50% {left: 110vw}
    50% {left: 110vw}
    72.5%  {left: 50vw}
    80%  {left: 50vw}
    100%   {left: -40vw}
}