#logInScreen {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

#logInScreen h1 {
    position: absolute;
    font-size: 9vmin;
    text-align: center;
    top: 15vh;
    font-weight: normal;
}

#logInForm {
    height: auto;
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

#logInForm input {
    width: 100%;
    border: none;
    border-bottom: 1.5px solid lightgray;
    outline: none;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    margin: 5vmin 0;
    font-size: 85%;
}

#logInForm input:focus {
    border-color: #00000080;
}

.button {
    padding: 3vmin;
    background: white;
    color: #242424;
    border: 2px solid #242424;
    border-radius: 50px;
    font-size: 85%;
    -webkit-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.buttonClick {
    background: #242424;
    color: white;
}

#loginfdb {
    color: red;
    font-size: 4vmin;
    text-align: center;
    width: 100%;
}