#list {
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.elementAdded {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
}

#waiterScreen {
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: scroll;
}

#antiWrapper, #alkWrapper, #orderedWrapper, #antiWrapperCash, #alkWrapperCash, #foodWrapperCash {
    width: 100vw;
    height: auto;
    margin: 0 auto;
}

#antiWrapper h2, #alkWrapper h2, #orderedWrapper h2, #antiWrapperCash h2, #alkWrapperCash h2, #foodWrapperCash h2 {
    width: 98%;
    margin: 0;
    background: lightgray;
    font-size: 5vmin;
    height: 7vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 0 2vw;
}

.drink {
    width: 100%;
    height: 7vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), to(rgba(237,237,237,1)));
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 5vmin;
}

#antiWrapperCash .drink, #alkWrapperCash .drink, #foodWrapperCash .drink {
    width: 100%;
}

.drink div {
    height: 7vh;
}

.drink .wrapper0, .drink .wrapper2, .drink .wrapper3 {
    width: 15vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.drink .wrapper1 {
    width: 47vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#tableSelection {
    width: 100vw;
    height: 89vh;
    position: absolute;
    top: 2vh;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#tableSelectionWrapper {
    position: absolute;
    height: 90vh;
    bottom: 1vh;
    width: 94vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 3vw;
}

.tableWrapper {
    width: 95vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
}

.selectionTable {
    background: lightgray;
    height: 10vh;
    width: 27vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    margin: 2vmin;
}

#tableNumberOrder, #tableNumberCash {
    position: absolute;
    top: -6vmin;
    right: 2vmin;
    font-size: 6vmin;
}

#sendMessageMsg, #sendMessageX {
    width: 13vmin;
    height: 13vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid cornflowerblue;
    border-radius: 100%;
    background: cornflowerblue;
    color: white;
    font-size: 130%;
    position: fixed;
    bottom: 12vh;
    right: 3vw;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

#startOrder {
    width: 13vmin;
    height: 13vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid #82c51b;
    border-radius: 100%;
    background: #82c51b;
    color: white;
    font-size: 130%;
    position: fixed;
    bottom: 12vh;
    right: 20vw;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

#noteWindow {
    width: 83vw;
    height: 50vh;
    position: absolute;
    top: -70vh;
    left: 5vw;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 5px 15px 0px;
            box-shadow: rgba(0, 0, 0, 0.5) 2px 5px 15px 0px;
    border-radius: 15px;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    background: white;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#confirmWindow {
    width: 83vw;
    height: 33vh;
    position: absolute;
    top: -70vh;
    left: 5vw;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 5px 15px 0px;
            box-shadow: rgba(0, 0, 0, 0.5) 2px 5px 15px 0px;
    border-radius: 15px;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    background: white;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.showWarningWindow {
    position: fixed !important;
    top: 30vh !important;
    left: 5vw !important;
}

.hideNoteWindow {
    position: fixed !important;
    top: 20vh !important;
    left: 5vw !important;
}

.warning h4 {
    color: orange;
    margin: 0 auto;
    font-size: 10vmin;
}

.warning p {
    font-weight: 100;
    text-align: justify;
}

#BtnWrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.warning .button {
    color: white;
    width: 20vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 0 5vmin;
}

#acceptReturn {
    background: #d63200;
    border: #d63200 2px solid;
}

#disacceptReturn {
    background: #82c51b;
    border: #82c51b 2px solid;
}

#noteWindow h4 {
    margin: 0 auto;
}

#noteWindow textarea {
    outline: none;
    resize: none;
}

.minus {
    background: gray;
    color: white;
    padding: 1vmin;
    border-radius: 15px;
    height: 65%;
    width: 65%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 4vmin;
}

.hideIcons {
    position: fixed !important;
    bottom: 12vh !important;
    right: -20vw !important;
}

/* Fullscreen */

#fullScreenWrapper {
    font-size: 8vmin;
    padding: 5vmin 10vmin;
    text-decoration: none;
    color: aliceblue;
    background: #54a1e1;
    border-radius: 5px;
    text-transform: uppercase;
}