<div *ngFor="let config of displayTable" class="category">
  <span>{{ config.title }}</span>

  <div (click)="item.amount = (item.amount || 0) + 1" *ngFor="let item of config.items" class="item">
    <span class="amount">{{ item.amount || 0 }}</span>
    <span class="name">{{ item.name }}</span>
    <span class="price">{{ item.price }}€</span>
    <span (click)="decreaseAmount(item)" class="minus">
      <fa-icon [icon]="minusIcon" [styles]="{ 'color': 'var(--dark-gray)' }"></fa-icon>
    </span>
  </div>
</div>

<button (click)="pay()" class="button btn-ok">Bezahlen</button>

<span id="total">Gesamt: {{ total | number }}€</span>
<span id="diff">{{ (givenMoney || 0) - total }}€ Rückgeld</span>

<div class="input-wrapper">
  <label>Geld erhalten</label>
  <input [(ngModel)]="givenMoney" type="number">
</div>
