:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--secondary);

  #icon-wrapper {
    height: 100%;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      span {
        font-size: 3vw;
        margin-top: .25em;
      }

      mat-icon {
        transform: scale(1.3);
        cursor: pointer;
      }
    }
  }
}
