<div *ngIf="tablesHashed !== hash(tables)" class="button btn-danger" id="unsaved">
  <mat-icon>warning</mat-icon>
  Ungespeicherte Änderungen
</div>

<div id="button-wrapper">
  <div (click)="create()" class="button btn-primary" matRipple>Tisch hinzufügen</div>
  <div (click)="save()" class="button btn-ok" matRipple>Speichern</div>
</div>

<div *ngFor="let t of tables" class="table">
  <span>{{ t.nr }}</span>

  <div class="icon-wrapper">
    <button (click)="edit(t)" mat-icon-button>
      <mat-icon color="primary">edit</mat-icon>
    </button>

    <button (click)="delete(t)" mat-icon-button>
      <mat-icon color="warn">delete</mat-icon>
    </button>
  </div>
</div>
