:host {
  width: 100%;
  display: flex;
  padding-bottom: 20%;
  justify-content: center;
}

#table-wrapper {
  width: 88%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  .table {
    width: 20vw;
    height: 20vw;
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dbdbdb;
    cursor: pointer;
    border-radius: 15px;
    transition: 200ms ease-in-out background;
    user-select: none;
    outline: none;
    font-size: 8vw;
    font-weight: 500;

    &.wide {
      width: 100%;
      font-size: 5vw;
      height: 15vw;
    }

    &:hover {
      background: rgba(252, 207, 137, 0.68);
    }
  }

  #category-header {
    width: 100%;
    outline: none;
    font-size: 4vw;
    font-weight: 500;
  }
}
