<span *ngIf="selectedTableNr" id="open-items-header">offene Positionen</span>
<app-order-category (itemsChange)="openItemsChange($event)"
                    [flipAmountAction]="true"
                    [items]="openItems"
                    title=""
></app-order-category>
<span *ngIf="selectedTableNr && openItems.length === 0" class="error">Keine offenen Positionen</span>


<span *ngIf="selectedTableNr" id="all-items-header">Alle Produkte</span>

<app-order-category (itemsChange)="itemsChange(c.id, $event)"
                    *ngFor="let c of getCategoriesWithProducts()"
                    [items]="products.get(c.id) || []"
                    [title]="c.name"
></app-order-category>

<div id="cart-wrapper">
  <h2>Warenkorb</h2>

  <div *ngFor="let p of getSelectedProducts()" class="item">
    <span>{{ p.amount }} x {{ p.name }}</span>
    <span>{{ formatPrice((p.amount || 0) * p.price) }}€</span>
  </div>

  <span *ngIf="getSelectedProducts().length === 0" class="error">Der Warenkorb ist leer</span>

  <span *ngIf="getTotalPrice() > 0" id="sum">Summe: {{ formatPrice(getTotalPrice()) }}€</span>

  <input (input)="amountReceivedChanged()" [(ngModel)]="amountReceived" min="0" placeholder="Betrag erhalten"
         type="number">

  <span id="return">Rückgeld: {{ formatPrice(returnAmount) }}€</span>

  <button (click)="complete()" class="button btn-ok" matRipple>Bezahlvorgang abschließen
  </button>
  <button (click)="reset()" class="button btn-danger" matRipple>Zurücksetzen</button>
</div>
