:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  box-sizing: border-box;
}

.dashboard-item {
  width: 100%;
  margin: .5em 0;
  padding: 1em 2em;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  font-size: 5vw;
  text-align: center;
}

.button {
  text-align: center;
  margin: .5em 0;
}
