<div class="dashboard-item">
  Warenwert unbezahlt: {{ revenueUnPaid | currency:'EUR':'symbol':'1.2-2' }}
</div>

<div class="dashboard-item">
  Warenwert bezahlt: {{ revenuePaid | currency:'EUR':'symbol':'1.2-2' }}
</div>

<div class="dashboard-item">
  Umsatz: {{ revenue | currency:'EUR':'symbol':'1.2-2' }}
</div>

<div class="button btn-primary" matRipple routerLink="edit/tables">
  Tische bearbeiten
</div>

<div class="button btn-primary" matRipple routerLink="edit/categories">
  Kategorien bearbeiten
</div>

<div class="button btn-primary" matRipple routerLink="edit/products">
  Produkte bearbeiten
</div>

<div class="button btn-primary" matRipple routerLink="edit/infrastructure">
  Infrastruktur bearbeiten
</div>
